design/backend/text-summarizer-backend/venv/Lib/site-packages/torch/lib/torch_cpu.dll
design/backend/text-summarizer-backend/venv/Lib/site-packages/torch/lib/dnnl.lib
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3